body{
	margin: 50px 50px 20px 100px;
	color: #0c4271;
}
div.first_container{
	border: 3px solid #0A81AB;
	border-top: 0px;
	padding: 10px 20px;
}
h1{
	margin: 0;
}
div.company-tag{
	position: absolute;
	top: 1.25rem;
	line-height: 0.8;
	text-align: center;
	left: 45%;
	font-size: 1.4rem;
	vertical-align: center;
	color: #3d84b8;
}
hr{
	border-top:2px solid #0A81AB;
	border-bottom: none;
}
hr.first-line{
	position: absolute;
	width: 28%;
	margin-top: 0px;
	top: 3.125em;
	left: 6.25rem;
}
hr.second-line{
	position: absolute;
	width: 25%;
	margin-top: 0px;
	top: 3.125em;
	right: 3.125rem;
}
table{
	text-align: left;
	padding-bottom: 30px;
}
div.dividing_line{
	border-left: 3px solid #0A81AB;
	position: absolute;
	height: 135%;
	left: 50%;
	top: 28%;
}
